<html>
<style>
    .user-input {
        margin-top: 2rem;
        width: 100%
    }
</style>

<head>
    <title>DataViz</title>
    <script src="https://unpkg.com/neovis.js@2.0.2"></script>

    <!-- <script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link src="{{ url_for('static', filename='app.css') }}">
    </link>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="row bg-light">
        <div class="col pl-5">
            <a class="navbar-brand pl-5" href="#">
                <img src="{{ url_for('static', filename='chaselogo.png') }}" width="175" height="100" alt="">
            </a>
        </div>
        <div class="user-input col-6 d-flex justify-content-center">
            <form method="GET" role="form">
                <div class="form-group row">
                    <div class="col">
                        <input id="company-id" type="text" class="form-control shadow bg-white"
                            placeholder="Company Name" aria-label="Company ID" aria-describedby="basic-addon2">
                    </div>
                    <div class="col-auto rounded">
                        <button id="go-button" class="btn rounded bg-primary text-white" type="button">Go</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col pt-4 pl-2 mt-3">
            <h5>Investor Knowledge Graph</h5>
        </div>
    </div>
    <!-- <nav class="navbar navbar-light bg-light h-auto">
        <div class="container h-auto">
            <div class="row w-100">
                <div class="col">
                    <a class="navbar-brand" href="#">
                        <img src="{{ url_for('static', filename='chaselogo.png') }}" width="175" height="100" alt="">
                    </a>
                </div>
                <div class="user-input col-6 d-flex justify-content-center">
                    <form method="GET" role="form">
                        <div class="form-group row">
                            <div class="col">
                                <input id="company-id" type="text" class="form-control shadow p-3 mb-5 bg-white"
                                    placeholder="Company Name" aria-label="Company ID" aria-describedby="basic-addon2">
                            </div>
                            <div class="col-auto rounded">
                                <button id="go-button" class="btn rounded bg-primary text-white"
                                    type="button">Go</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col pt-5">
                    <h5>Investor Knowledge Graph</h5>
                </div>
            </div>
        </div>
    </nav> -->

    <div class="pt-4 row justify-content-center pb-4 fw-weight-light">
        {% if company_id|length %}
        <h2>{{ company_name }} ({{ industries[company_id] if industries is defined}}) </h2>
        {% endif %}
    </div>
    <div class="container-fluid">
        <div class='row justify-content-center'>
            {% if company_id|length %}
            <div class="border">
                <h3 class="p-3"> VC Funding Prediction Percentile: {{ score[company_id] if score is defined }}</h3>
            </div>
            {% endif %}
        </div>
        <div class="mt-5 row ml-1 mr-1">
            <div class="col h-100 border shadow" id="table">
                <h2>Similar Companies</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Industry</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in peers %}
                        {% if company_id in row %}
                        <tr>
                            {% set cols = row.split(",") %}
                            {% set peer_id = cols[2] %}
                            {% if company_id != peer_id %}
                            {% for col in cols[2:] %}
                            <td>{{ col }}</td>
                            {% endfor %}
                            <td>
                                {{ industries[peer_id] }}
                            </td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class='col-6 border shadow' id="viz"></div>
            <!-- <div class="col d-flex justify-content-center"> -->
            <!-- <div class="row h-100"> -->
            <div class="col h-100 border shadow" id="table">
                <h2>Potential Investors</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in investors %}
                        {% if company_id in row %}
                        <tr>
                            {% for col in row.split(",")[2:] %}
                            <td>{{ col }}</td>
                            {% endfor %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
    </div>
    <script>
        function draw(company_id) {
            var config = {
                containerId: "viz",
                neo4j: {
                    serverUrl: "bolt://44.203.139.45:7687",
                    serverUser: "neo4j",
                    serverPassword: "gupta123!@#"
                },
                visConfig: {
                    nodes: {
                        shape: "dot",
                        size: 10,
                    },
                    edges: {
                        arrows: {
                            to: { enabled: true }
                        }
                    }
                },
                labels: {
                    Company: { // everything that is directly on this object gets mapped from the neo4j node
                        // full properties list can be found at https://visjs.github.io/vis-network/docs/network/nodes.html
                        label: "CompanyName", // puts the property `name` from the neo4j node and puts it onto the label property of vis.js's node
                        value: "pagerank",
                        group: "community",
                        [NeoVis.NEOVIS_ADVANCED_CONFIG]: {// here you put node properties that aren't mapped directly from the neo4j node
                            // cypher: { // everything here will map to the vis.js node object from a cypher query (like sizeCypher worked but for every property)
                            //     value: "MATCH (n) WHERE id(n) = $id MATCH (n)-[r]-() RETURN sum(r.weight) AS c"
                            // },
                            function: { // everything here will map function thats gets the neo4j node properties to a vis.js node property
                                title: NeoVis.objectToTitleHtml, // alternativly
                                title: (props) => NeoVis.objectToTitleHtml(props, ["CompanyName"])
                            },
                            static: { // everything here will be copied directly to the vis.js's node object
                                font: {
                                    size: 26,
                                    color: "#000000"
                                },
                                color: "#97c2fc"
                            }
                        }
                    },
                    Investor: { 
                        // full properties list can be found at https://visjs.github.io/vis-network/docs/network/nodes.html
                        label: "InvestorName", // puts the property `name` from the neo4j node and puts it onto the label property of vis.js's node
                        value: "pagerank",
                        group: "community",
                        [NeoVis.NEOVIS_ADVANCED_CONFIG]: {// here you put node properties that aren't mapped directly from the neo4j node
                            // cypher: { // everything here will map to the vis.js node object from a cypher query (like sizeCypher worked but for every property)
                            //     value: "MATCH (n) WHERE id(n) = $id MATCH (n)-[r]-() RETURN sum(r.weight) AS c"
                            // },
                            function: { // everything here will map function thats gets the neo4j node properties to a vis.js node property
                                title: NeoVis.objectToTitleHtml, // alternativly
                                title: (props) => NeoVis.objectToTitleHtml(props, ["InvestorName"])
                            },
                            static: { // everything here will be copied directly to the vis.js's node object
                                font: {
                                    size: 26,
                                    color: "#000000"
                                },
                                color: "#FB7E81"
                            }
                        }
                    }
                },
                relationships: {
                    INVESTED_IN: { // same as node but mapped from neo4j relationship to vis.js edge
                        // full properties list can be found at https://visjs.github.io/vis-network/docs/network/edges.html
                        value: "5",
                        // the default is now without caption
                        [NeoVis.NEOVIS_ADVANCED_CONFIG]: {// here you put edge properties that aren't mapped directly from the neo4j relationship
                            // cypher: {}, // same as label advance cypher
                            function: { // same as label advance function
                                title: NeoVis.objectToTitleHtml // putting caption on the title
                            },
                            static: {
                                color: "#9ad6aa",
                                value: 1,
                            } // same as label advance static
                        }
                    }
                },
                initialCypher: "MATCH (c:Company{CompanyName: '" + company_id + "'})<-[r:INVESTED_IN]-(i)-[r1:INVESTED_IN*0..2]->(c1) RETURN c,r,i,r1,c1 LIMIT 50"
            }

            // console.log("MATCH (c:Company{CompanyName: '" + company_id + "'})<-[r:INVESTED_IN]-(i)-[r1:INVESTED_IN*0..2]->(c1) RETURN c,r,i,r1,c1 LIMIT 50")
            var viz = new NeoVis.default(config);
            viz.render();
        };

        window.onload = draw("{{ company_name }}");

        function get_url() {
            var url = 'http://localhost:5000/?company-id=' + document.getElementById("company-id").value;
            window.location.href = url;
        }

        document.getElementById('go-button').addEventListener("click", get_url);
        document.getElementById('company-id').addEventListener("keypress", (event) => {
            if (event.key === "Enter") {
                // Cancel the default action, (refreshing the page)
                event.preventDefault();
                // Trigger the button element with a click
                document.getElementById("go-button").click();
            }
        });
    </script>
</body>

</html>
